<div class="row content">
    <div class="col-md-3 col-sm-2 col-xs-2"></div>
    <div class="col-md-6 col-sm-8 col-xs-8">
        <form autocomplete="off" name="lendForm" class="form-horizontal" role="form"
              onsubmit="lendReceiveBook('<%= action%>');return false;">
            <div class="form-group">
                <label class="col-sm-8" id="email-label">
                    User Email
                </label>
                <div class="col-sm-12">
                    <input name="email" type="email" id="<%= action%>email"
                           class="form-control text-input-box" placeholder="email (i.e abc@domain.com)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-8" id="tag-number-label">
                    Book id
                </label>
                <div class="col-sm-12">
                    <input name="tagNumber" id="<%= action%>tag-number" type="text"
                           class="form-control text-input-box"
                           placeholder="Book id (i.e 200-10)">
                </div>
            </div>
            <span id="<%= action%>error-msg"></span>
            <div class="form-group">
                <div class="col-sm-offset-3 col-xs-offset-4 col-sm-6 col-xs-6">
                    <button id="submit" type="submit" class="btn btn-block text-input-box button-grey">
                        <%=action == 'lendBook' ? 'Lend' : 'Receive'%>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-2">
    </div>
</div>